<div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="error">
    <mat-error>{{ error }}</mat-error>
</div>

<div *ngIf="!isLoading && !error">
    <table mat-table [dataSource]="courses" class="mat-elevation-z8">

        <!-- Course Name Column -->
        <ng-container matColumnDef="course_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Name </th>
            <td mat-cell *matCellDef="let course">
                <button mat-icon-button matTooltip="Edit Course" (click)="editCourse(course.id)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Delete Course" (click)="deleteCourse(course.id)">
                    <mat-icon>delete</mat-icon>
                </button>
                {{course.course_name}}
            </td>
        </ng-container>

        <!-- University Column -->
        <ng-container matColumnDef="university">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> University </th>
            <td mat-cell *matCellDef="let course"> {{course.university}} </td>
        </ng-container>

        <!-- City Column -->
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
            <td mat-cell *matCellDef="let course"> {{course.city}} </td>
        </ng-container>

        <!-- Country Column -->
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
            <td mat-cell *matCellDef="let course"> {{course.country}} </td>
        </ng-container>

        <!-- Start Date Column -->
        <ng-container matColumnDef="start_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
            <td mat-cell *matCellDef="let course"> {{course.start_date | date}} </td>
        </ng-container>

        <!-- Duration Column -->
        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
            <td mat-cell *matCellDef="let course"> {{getDuration(course.start_date, course.end_date)}} </td>
        </ng-container>
        
        <!-- Price Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let course"> {{course.price}} {{course.currency}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let course; columns: displayedColumns;" matTooltip="{{ course.course_description }}"></tr>
    </table>
</div>
